#btn_nova_senha.btn.btn-info{
    display: block;
    position: relative;
    width: 100%;
    max-width: 200px;
    margin-left: 0px;
}

.row.marco{
    border: 3px inset;
    width: 100%;
    max-width: 350px;
}

.btn.btn-sm.btn-secondary.btn-block{
    display: block;
    position: relative;
    width: 100%;
    max-width: 150px;
    font-size: 18pt;
    height: 80px;
    margin: 10% auto -5% auto;
}

.btn.btn-sm.btn-primary.btn-block{
    display: block;
    position: relative;
    width: 100%;
    max-width: 150px;
    height: 80px;
    margin: 10% auto -5% auto;
}