@charset "UTF-8";

div#perguntas{
	position: absolute;
    width: 250px;
    height: 400px;
	text-align: center;
    border: 5px solid #ffffff; 
	border-radius: 20px;	
    margin-left: 1070px;
    margin-top: 70px;
    background-color: #0077b3;
	color: #ffffff;
	text-shadow: 2px 2px 2px black;	
}
div#perguntas h1{
    font-size: 15pt;
    text-align: center;
    color: #ffffff;
	text-shadow: 2px 2px 2px black;	
}

#respostas{
    font-weight:bold;
}