@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:bold+Lobster);
@import url(https://fonts.googleapis.com/css?family=Lobster);

header#cabecalho_jogo{
    width: 100%;
    height: 40px;
    /*border-bottom: 4px solid #ffffff;*/
}

p#bemvindo{
    font-family: 'Orbitron', sans-serif;
    font-size: 14pt;
    margin: 20px 0px 0px 20px;
    color: #f5f5dc;
}

div#btnFace{
    position: absolute;
    margin-left: 65%;
    margin-top: 46%;
	display:none;
}

#logo_inicial{
    margin: 0px auto 0px auto;
    width: 587px;
}

header img#logo_central{
    height: 150px;
    margin-bottom: 5%;
}

#logo_inicial #semsatim{
    width: 228px;
    margin: 0px auto 0px auto;
}


section#corpo{
    width: 100%;
}

section#corpo_interno{
    margin-top: 2%;
    margin-bottom: 4%;
}

/* ///////// BUTTONS da página inicial \\\\\\\\\\\ */
.button {

    /* text */
    text-decoration: none;
    font: 24px/1em 'Droid Sans', sans-serif;
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    /* layout */
    padding: .5em .6em .4em .6em;
    margin: .5em;
    display: inline-block;
    position: relative;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    /* effects */
    background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.7))), url(https://lh4.googleusercontent.com/-Qs9-Ohgo6sk/UY11O1WoMQI/AAAAAAAACME/nUID7awcMow/s50-no/noise.png);
}

/* -------------- colours -------------- */

.button.orange {
    color: 				hsl(39, 100%, 30%) !important;
    background-color: 	hsl(39, 100%, 50%);

    -webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
    hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
    rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
    -moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
    hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
    rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
    box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
    hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
    rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}
.button.orange:hover {
    background-color: hsl(39, 100%, 65%);
}

/* -------------- States -------------- */
.button:active {
    -webkit-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */
    rgba(0,0,0,0.4) 0 .1em 1px, /* border */
    rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
    -moz-box-shadow: 	inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */
    rgba(0,0,0,0.4) 0 .1em 1px, /* border */
    rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
    box-shadow: 		inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */
    rgba(0,0,0,0.4) 0 .1em 1px, /* border */
    rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */

    -webkit-transform: 	translateY(.2em);
    -moz-transform: 	translateY(.2em);
    transform: 			translateY(.2em);
}

/* Mantem o foco no botão que foi apertado por último */
.button:focus {
    outline: none;
    color: rgba(254,255,255,0.9) !important;
    text-shadow: rgba(0,0,0,0.2) 0 1px 2px;
}

/* -------------- Materiais -------------- */
/* Sombra branca da frente do botão */
.button.glossy:after {
    content: 	"";
    position: 	absolute;
    width: 		90%;
    height: 	90%;
    top: 		0;
    left: 		5%;

    -webkit-border-radius: 	.5em .5em 1em 1em / .5em .5em 2em 2em;
    -moz-border-radius: 	.5em .5em 1em 1em / .5em .5em 2em 2em;
    border-radius: 			.5em .5em 1em 1em / .5em .5em 2em 2em;

    background-image: 		-webkit-gradient(linear, 0% 0, 100% 0, from( rgba(255,255,255,.55) ), to( rgba(255,255,255,.5) ),
    /* Faz o botão ficar com formado de faca na parte de baixo */
    color-stop(.5, rgba(255,255,255,0)), color-stop(.8, rgba(255,255,255,0)) );
}

/* -------------- Shapes -------------- */
/* Faz o botão ficar com formato de faca na parte de baixo */
.shield, .shield.glossy:after {
    -webkit-border-radius: 	.4em .4em 2em 2em / .4em .4em 3em 3em;
    -moz-border-radius: 	.4em .4em 2em 2em / .4em .4em 3em 3em;
    border-radius: 			.4em .4em 2em 2em / .4em .4em 3em 3em;
}
.shield {
    padding-left: 	3em;
    padding-right: 	3em;
}



